body{
    background: #dde2e6;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vh;
    margin: 1%
    
}
.card{
    background: #fff;
    text-align: centre;
    padding: 10px;
    box-shadow: 0,8px,rgb(red, green, blue);
    border-radius: 5%;
    width: 400px;
}
.card h1{
    color: red;
    text-shadow: 3px 3px 6px rgb(2, 1, 22);
    margin-bottom: 9px;
}
.card p{
    color: #d50d0d;
    line-height: 1.5;
    font-size: 16px;

}
.card .date-time {
      margin: 15px 0;
      font-weight: bold;
      color: #d81b60;
}
.card button {
    color:#acd81b;
    background:#dde2e6;
    padding:10px 20px;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    align: centre;
}
.card button:hover {
      background: #ad1457;
      transform: scale(1.05);
      box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}